# Craft Beer Final Notebook

In [1]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

from acquire import beer_df

In [2]:
# getting the beer data from my acquire file
df = beer_df()
df.head() # check_yo_head

,number,abv,ibu,id,beer,beer_style,brewery_id,ounces,brewery,city,state
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0,NorthGate Brewing,Minneapolis,MN
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0,Against the Grain Brewery,Louisville,KY
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0,Jack's Abby Craft Lagers,Framingham,MA
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0,Mike Hess Brewing Company,San Diego,CA
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0,Fort Point Beer Company,San Francisco,CA