# Craft Beer Data

In [1]:
# imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

In [ ]:
# getting the beer data from a csv file
df = pd.read_csv('beers.csv')

In [ ]:
df.head() # check_yo_head

In [ ]:
# checking on the tail of the data
df.tail()

In [ ]:
# taking a look at the data info
df.info()

In [ ]:
# taking a look at the shape of the data
df.shape

Initial Takeaways:

- So it looks like there are 8 columns 

- The unnamed column is a count of the data for both .csv files

- Some of the ibu has data and some don't

- I don't know what the id column is for

In [ ]:
# prep

# df.drop(columns = 'Unnamed: 0', )

In [ ]:
# reading the breweries csv file
df_1 = pd.read_csv('breweries.csv')

In [ ]:
df_1.head() #check_yo_head

In [ ]:
# using merge function by setting how='inner'
df = pd.merge(df, df_1, 
                   on='Unnamed: 0', 
                   how='inner')

In [ ]:
df.head() #check_yo_head

In [ ]:
# checking for nulls in the data
df.isna().sum()

In [ ]:
# taking a look at the shape of the merged data
df.shape

In [ ]:
# quick info on the merged data
df.info()

In [ ]:
# renaming columns for readability
df = df.rename(columns = {"style": "beer_style", "name_y": "brewery", "Unnamed: 0": "number", "name_x": "beer"})

In [ ]:
df.head() #check_yo_head

In [ ]:
# messing around and dropping a .plot() on the data
df.plot()

In [ ]:
# taking a look at the counts of each beer style
df.beer_style.value_counts()

In [ ]:
# looking to see if the same brewery has multiple beers
df.brewery.value_counts()

In [ ]:
# df.shape had 558 rows
# seeing how many different breweries there are
df.brewery.nunique()

In [ ]:
# seeing how many unique beers there are
df.beer.nunique()

In [ ]:
# looking at the amount of beer per state
df.state.value_counts()

In [ ]:
# trying out a .plot() on the states
df.state.value_counts().plot()

In [ ]:
state_df = df.state.value_counts().rename_axis('states').reset_index(name='breweries')
state_df.head(5)

In [ ]:
# Visualization

fig, axes = plt.subplots(1,2, sharey=True, figsize=(10,5))
sns.set_theme(style="whitegrid")
fig.suptitle('Top 10 States and Bottom 10 States')

# Top 10 States
sns.barplot(ax=axes[0], x="states", y="breweries", data=state_df.head(10))
axes[0].set_title("Brewery Lovers")

# Bottom 10 States
sns.barplot(ax=axes[1], x="states", y="breweries", data=state_df.tail(10))
axes[1].set_title("Brewery Haters")

In [ ]:
df.head()

In [ ]:
top_beer = df.beer_style.value_counts().rename_axis('beer_type').reset_index(name='total')
top_beer.head()

In [ ]:
sns.barplot(x='total', y='beer_type', data=top_beer.head(10))
plt.title('Top Flight Beers')

In [ ]:
top10_beers = top_beer.head(10)

fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.axis('equal')
labels = top10_beers['beer_type']
totals = top10_beers['total']
ax.pie(totals, labels = labels, autopct='%1.2f%%')
plt.title('Percent of Top 10 Beers Consumed')
plt.show()

In [2]:
# making a function

def beer_df():
    '''
    This function takes in the beer data and brewery data 
    and merges into one dataframe 
    and renames the columns for readbility
    and saves the new dataframe as a csv
    '''
    # getting the beers data
    df = pd.read_csv('beers.csv')
    # getting the breweries data
    df_1 = pd.read_csv('breweries.csv')
    # merging the two csv files together
    df = pd.merge(df, df_1, 
                   on='Unnamed: 0', 
                   how='inner')
    # renaming columns for readability
    df = df.rename(columns = {"style": "beer_style", "name_y": "brewery", "Unnamed: 0": "number", "name_x": "beer"})
    
    df.to_csv('beer_data.csv')
    
    return df

In [3]:
# using my beer_df function
df = beer_df()
df.head() # check_yo_head

,number,abv,ibu,id,beer,beer_style,brewery_id,ounces,brewery,city,state
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0,NorthGate Brewing,Minneapolis,MN
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0,Against the Grain Brewery,Louisville,KY
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0,Jack's Abby Craft Lagers,Framingham,MA
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0,Mike Hess Brewing Company,San Diego,CA
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0,Fort Point Beer Company,San Francisco,CA

In [6]:
# states function

def beer_states():
    '''
    This function will take the count of each state in the data and 
    make a new dataframe with the states and number of breweries
    '''
    state_df = df.state.value_counts().rename_axis('states').reset_index(name='breweries')
    
    return state_df

In [7]:
beer_states()

   states  breweries
0      CO         47
1      CA         39
2      MI         32
3      OR         29
4      TX         28
5      PA         25
6      MA         23
7      WA         23
8      IN         22
9      WI         20
10     NC         19
11     IL         18
12     NY         16
13     VA         16
14     OH         15
15     FL         15
16     MN         12
17     AZ         11
18     VT         10
19     MT          9
20     ME          9
21     MO          9
22     CT          8
23     GA          7
24     AK          7
25     MD          7
26     OK          6
27     LA          5
28     RI          5
29     IA          5
30     ID          5
31     NE          5
32     NM          4
33     UT          4
34     WY          4
35     KY          4
36     HI          4
37     SC          4
38     NJ          3
39     NH          3
40     KS          3
41     AL          3
42     TN          3
43     DE          2
44     MS          2
45     AR          2
46     NV          2
47     WV          1
48     DC          1
49     ND          1
50     SD          1